.container {
    width: 70%;
    height: 60%;
    margin-left: 15%;
    margin-top: 45px;
    text-align: center;
}

.title {
    font-size: 64px;
    letter-spacing: 12px;
    word-spacing: 4px;
}

.years {
    margin-top: 12px;
    font-size: 32px;
}