.container {
    width: 345px;
    min-width: 345px;
    height: 280px;
    margin-left: 102.5px;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
    text-align: center;
    border: 2px solid black;
    border-radius: 16px;
    position: relative;
    cursor: pointer;

    transition: height 0.8s ease-in-out;
}

.expanded {
    height: 560px;
}

.thumbnail {
    margin-top: 15px;
    border-radius: 16px;
}

.text {
    width: 80%;
    height: 30%;
    margin-left: 10%;
    margin-top: 4px;
    font-size: 32px;
    overflow-wrap: break-word;
}

.links {
    width: 80%;
    height: 24%;
    margin-left: 10%;
}

.hide {
    display: none;
}

.link {
    display: inline-block;
    margin-top: 16px;
    color: red;
    font-size: 24px;
    letter-spacing: normal;

    transition: 0.25s ease-in-out;
}

.link:hover {
    letter-spacing: 6px;
    color: green;
}

