.container {
    width: 345px;
    height: 280px;
    background-color: rgb(16, 0, 85);
    overflow: hidden;
    text-align: center;
    border: 2px solid black;
    border-radius: 16px;
    position: relative;

    transition: height 0.8s ease-in-out;
}

.expanded {
    height: 600px;
}

.thumbnail {
    margin-top: 15px;
}

.title {
    width: 80%;
    margin-left: 10%;
    margin-top: 4px;
    font-size: 32px;
    overflow-wrap: break-word;
}

.links {
    position: absolute;
    width: 80%;
    height: 24%;
    margin-left: 10%;
    bottom: 16px;
}

.link {
    margin-top: 16px;
    color: red;
    font-size: 24px;
}

