.container {
    width: 300px;
    height: 720px;

    position: absolute;
    top: 143px;

    z-index: 10;
    pointer-events: none;
}

@media only screen and (max-width: 500px) {
    @media only screen and (max-height: 680px) {
        .container {
            display: none;
        }
    }
}

.left {
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgba(255, 255, 255, 0));
}

.right {
    right: 0;
    background-image: linear-gradient(to left, rgb(255, 255, 255) , rgba(255, 255, 255, 0));
}
