.container {
    width: 250px;
    height: 720px;
    background-color: chartreuse;

    position: absolute;
    top: 199px;

    z-index: 10;
    pointer-events: none;
}

.left {

}

.right {
    right: 0;
}
