.container {
    height: 680px;
    position: absolute;
    top: 140px;
    pointer-events: none;
}

@media only screen and (max-width: 500px) {
    @media only screen and (max-height: 680px) {
        .container {
            display: none;
        }
    }
}

.left {
    z-index: 10;
    left: 10px;
    width: 70px;
    background-image: linear-gradient(to right, rgb(238, 238, 238), rgba(238, 238, 238, 0));
}

.right {
    z-index: 10;
    width: 70px;
    right: 10px;
    background-image: linear-gradient(to left, rgb(238, 238, 238), rgba(238, 238, 238, 0));
}

.blockleft {
    z-index: 11;
    width: 11px;
    background-color: rgb(238, 238, 238);
}

.blockright {
    z-index: 11;
    right: 0;
    width: 11px;
    background-color: rgb(238, 238, 238);
}
