.container {
    width: 100vw;
    height: 100vh;
}

.uppercontainer {
    width: 100%;
    height: 28%;
    min-height: 180px;
    padding-top: 1px;
    margin-top: -1px;
    background-color: aquamarine;
}

.midcontainer {
    width: 100%;
    height: 62%;
    min-height: 600px;
    background-color: lightcoral;
}

.lowercontainer {
    width: 100%;
    height: 10%;
    background-color: bisque;
}