.icon {
    width: 48px;
    height: 48px;
    opacity: 1;

    transition: 0.3s;
}

.img:hover {
    filter: invert(43%) sepia(62%) saturate(1478%) hue-rotate(356deg) brightness(99%) contrast(105%);
}

@media only screen and (max-height: 860px) {
    .icon {
        opacity: 0;
    }

    .link {
        pointer-events: none;
    }
}
