.container, .overlay {
    width: 320px;
    height: 48px;
    margin-top: 4px;
    margin-left: calc(50vw - 160px);
    position: absolute;
    bottom: 12px;

    display: flex;
    justify-content: space-between;
}

