.icon {
    width: 48px;
    height: 48px;
    opacity: 1;

    transition: 0.3s;
}

@media only screen and (max-height: 860px) {
    .icon {
        opacity: 0;
    }

    .link {
        pointer-events: none;
    }
}
